#container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap-reverse;
}

#reservaionForm {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid #ebeaec;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  padding: 24px;
}

#reservationBtn {
  border: 1px solid #000;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  color: #000;
  padding: 3px;
}
