@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Orbit&display=swap');

* {
  font-family: 'Orbit', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

header {
  padding: 20px;
  display: inline-block;
  position: relative;
}

header > h1 {
  text-align: left;
}

main {
  padding-top: 50px;
}

footer {
  height: 120px;
  background-color: rgb(93, 155, 255);
  margin: 10px;
}

.footer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.userBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;

  position: absolute;
  top: 30px;
  right: 20px;
  /* margin-bottom: 10px; */
  font-size: large;
}

.userBox > button {
  font-size: 15px;
  margin: 0px 5px 0px 5px;
}

#reservaionContainer {
  display: flex;
  justify-content: left;
  gap: 16px;
  flex-wrap: wrap-reverse;
}

#reservaionForm {
  justify-content: space-between;
  gap: 24px;
  border: 1px solid #ebeaec;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  padding: 24px;
  text-align: center;
}

#reservationBtn {
  border: 1px solid #000;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  color: #000;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 10px;
}

#logoutBtn {
  border: 1px solid #000;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  color: #000;
  padding: 3px;
}

#mypageBtn {
  border: 1px solid #000;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  color: #000;
  padding: 3px;
}

#loginBtn {
  border: 1px solid #000;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  color: #000;
  padding: 3px;
}

#signBtn {
  border: 1px solid #000;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  color: #000;
  padding: 3px;
}

.petSitterAndReservation {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reservationInfoBox {
  margin: 20px 0px 0px 0px;
}
